<div class="main">
  <h1>{{ title }}</h1>
  <div class="block">
    <div class="sign-util">
      <p class="sub-heading">Pencil</p>
      <app-sign-color-picker [initialColor]="'black'" [id]="'pencil'"
        (changedColor)="setColor($event)"></app-sign-color-picker>
    </div>
    <div class="sign-util">
      <p class="sub-heading">Font</p>
      <app-sign-dropdown (fontChange)="setFontForSign($event)"></app-sign-dropdown>
    </div>
    <div class="sign-util">
      <p class="sub-heading">Background</p>
      <app-sign-color-picker [initialColor]="'white'" [id]="'background'"
        (changedColor)="setColor($event)"></app-sign-color-picker>
    </div>
  </div>
  <canvas #canvasElement class="sign-canvas" (mousedown)="mousedown($event)" (mouseup)="mouseup($event)"
  (mousemove)="mousemove($event)"></canvas>
  <div class="block">
    <button class="button" (click)="clearContent()">Clear</button>
    <button class="button" (click)="downloadContent()">Download</button>
  </div>
</div>